# Node dependencies
/node_modules

# Build output
/build
/dist

# Test output
/coverage
**/__tests__/*
**/*.test.*
**/*.spec.*
**/test/*
**/tests/*
!src/test
!src/tests

# Temporary files
/sync-test
temp.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*
!.env.example

# VS Code
.vscode/settings.json

# Testing directory
src/testing/
public/testing/

## Local Cache.
.npmcheckrc